{% extends 'dashboard/learner/base.html' %}

{% load static %}

{% block stylesheet %}
<style>
  .card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items at the start */
    flex-wrap: wrap;
    /* Enable wrapping for responsive layout */
    margin-top: 20px;
    /* Add margin for spacing */
  }

  .card {
    background-color: #2c3e50;
    color: #ecf0f1;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 30px;
    /* Right margin */
    /* Additional padding */
  }

  .card-title {
    color: #1abc9c;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .card-body {
    text-align: center;
  }

  .card-text {
    color: #bdc3c7;
    margin-bottom: 20px;
    text-align: center;
  }

  .card-footer {
    background-color: #34495e;
    color: #bdc3c7;
    border-top: none;
    text-align: center;
  }

  .pagination {
    justify-content: center;
    margin-top: 30px;
  }
</style>
{% endblock %}

{% block body %}
<div class="card-container">
  <!-- Blog Entries Column -->
  {% for tutorial in tutorials %}
  <div class="card">
    <h2 class="card-title"><b>{{ tutorial.title }}</b> | Course: {{ tutorial.course.name }}</h2>
    {% if tutorial.thumb %}
    <img src="{{ tutorial.thumb.url }}" alt="{{ tutorial.title }}">
    {% else %}
    <p>No image available</p>
    {% endif %}
    <div class="card-body">
      <a href="{% url 'tutorial-detail' tutorial.pk %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
  </div>
  {% endfor %}

  {% if is_paginated %}
  <!-- Pagination -->
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Previous page</a>
    </li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next page &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock %}