:root {
    --primary: #4f46e5;
    --secondary: #22c55e;
    --dark: #0f172a;
    --light: #f8fafc;
    --links: #dfd328be;
    --glass: rgba(255,255,255,0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}