{% extends 'dashboard/admin/base.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <i class="fas fa-user-circle fa-fw text-primary"></i>
        <span>Logged As {{ user.username }}</span>
    </div>
</div>

{% endblock %}